.form-container {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.list {
  height: 55px;
  width: 325px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hobbies-container {
  padding: 40px;
  box-shadow: 4px 4px 6px 7px #e807789d;
}

.hobby-title {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e80776;
  height: 30px;
  width: 345px;
  font-family: cursive;
  font-size: 25px;
}
.hobbies-button {
  height: 55px;
  width: 325px;
  display: flex;
  align-items: center;
  justify-content: center;
}
