a:link {
  text-decoration: none;
  color: #e80776;
}

a:visited {
  text-decoration: none;
  color: #e80776;
}

a:hover {
  text-decoration: underline;
  color: #e80776;
}

a:active {
  text-decoration: underline;
  color: #e80776;
}

#main {
  background: url("MommyBG.png") no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 800px;
  padding-bottom: 500px;
}
@media screen and (min-width: 480px) {
  #main {
    background: url("MommyBG.png") no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 1200px;
    padding-bottom: 500px;
  }
}
.login-container {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-button {
  font-family: cursive;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 120px;
  background: #a5a5a578;
  border-radius: 500px;
}
